<div class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom:50px">
    <div class="container" (click)="$event.preventDefault()">
        <div class="navbar-header" >
            <a class="navbar-brand" href="#">Mercurio</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a  data-toggle="dropdown"> {{organisation.name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a (click)="logout()">Uitloggen</a>
                        </li>
                        <li>
                            <a>Account</a>
                        </li>
                        <li>
                            <a>Help</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>